@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fadeDown {
  animation: fadedown 1.2s;
}

.fadeUp {
  animation: fadeup 1.2s;
}

@keyframes fadedown {
  0% { 
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translate(0px 0px 0px 0px);
  }
}

@keyframes fadeup {
  0% { 
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translate(0px 0px 0px 0px);
  }
}